:root{
    --fill-color: #6ab3f8 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

 background-image: url('blue.jpg');
 background-size: cover;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 height: 100vh;
 color: white;
 text-shadow: 1px 2px 3px black;



}
.cup {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.196);;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.151);
    border-bottom: 1rem solid rgba(0, 0, 0, 0.084) ;
    width: 150px;
    height: 330px;
    border-radius:0% 0% 7% 7% / 0% 1% 56% 56%;

    display: flex;
    /* align-items: baseline; */
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden; 
    text-align: center;
}

.cup.cup-sm{
    height: 95px;
    width: 50px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: 0.5s ease;
    border-bottom: 10px solid rgba(0, 0, 0, 0.084) ;
    font-size: smaller;
}
.cups{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 240px;
    height: 220px;
}
.cup.cup-sm.full{
    background-color: var(--fill-color);
    color:white;
}
.percentage{
    background-color: var(--fill-color);
    width: 150px;
}

.remained {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}